*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

header{
    background-color: black;
    padding: 13px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menyu{
    display: flex;
    gap: 30px;
    list-style: none
}
.menyu li a{
    color: white;
    text-decoration: none;
}
main .container{
    padding: 100px 0;
}
h1{
    text-align: center;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
}
.ota{
    width: 370px;
    text-align: center;
}
.ota h2{
    margin: 30px 0 10px 0;
}
.ota img{
    width: 100%;
}
.ota2{
display: flex;
gap: 30px;
flex-wrap: wrap;
margin-top: 50px;
justify-content: center;
}
footer{
    background-color: black;
    padding: 13px 0;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}